$brown: #333;
$white: #fff;
$gray: #777;
$lighterGray: #ccf;
$black: #111;
$whitish: #ddf;
$blueishgray: #aaf;

$positioning: absolute;

$tableBorder: 1px solid #555;

$fonts: 'Courier New', Courier, monospace;

$centeringText: center;

$wider: 80%;

$boxShadows: #000 0 0 15px;

$transition: width 0.5s, background-color 0.5s;

$pointer: pointer;
